<mat-card>
  <!-- Adding form, dont have to use two-way binding -->
  <!-- Add reference to the form and pass it in as param to controller -->
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <!-- trigger onAddPost when submitted -->
    <mat-form-field>
      <!-- Passing data to controller -->
      <!-- connects input to form element -->
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        minlength="3"
        #title="ngModel"
      />
      <!-- klient side validation -->
      <mat-error *ngIf="title.invalid">please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <!-- Passing data to controller -->
      <textarea
        matInput
        rows="6"
        name="content"
        ngModel
        required
        minlength="20"
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">please enter post content</mat-error>
    </mat-form-field>

    <!-- removed manual call to onAddPost() -->
    <!-- more events available -->
    <button mat-raised-button color="primary" type="submit">
      Save Post
    </button>
  </form>
</mat-card>
<hr />
