<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <!-- Adding form, dont have to use two-way binding -->
  <!-- Add reference to the form and pass it in as param to controller -->
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <!-- trigger onAddPost when submitted -->
    <mat-form-field>
      <!-- Passing data to controller -->
      <!-- connects input to form element -->
      <input
        matInput
        type="text"
        name="title"
        [ngModel]="post?.title"
        required
        minlength="3"
        placeholder="Post title"
        #title="ngModel"
      />
      <!-- klient side validation -->
      <mat-error *ngIf="title.invalid">please enter a post title</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="submit" (click)="filePicker.click()">
        Pick Image
      </button>
      <input type="file" #filePicker />
    </div>
    <mat-form-field>
      <!-- Passing data to controller -->
      <textarea
        matInput
        rows="6"
        name="content"
        [ngModel]="post?.content"
        required
        placeholder="Post content"
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">please enter post content</mat-error>
    </mat-form-field>

    <!-- removed manual call to onAddPost() -->
    <!-- more events available -->
    <button mat-raised-button color="accent" type="submit">
      Save Post
    </button>
  </form>
</mat-card>
<hr />
